PyYAML==6.0.1
Requests==2.32.3
datasets==2.18.0
diskcache==5.6.1
eval==0.0.5
matplotlib==3.5.1
numpy==1.24.3
openai==1.36.0
pandas==1.5.3
scikit_learn==1.0.2
scipy==1.8.0
sentence_transformers==2.2.2
tiktoken==0.6.0
torch==2.1.1
tqdm==4.57.0
transformers==4.41.1
